<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lisijun.websocket">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <!--socket服务-->
        <service android:name=".socket.SocketService" android:enabled="true"/>
    </application>
</manifest>
